<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-orange elevation-5">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <div class="info-box">
      <span class="brand-text font-weight-light ml-7">Promotion</span>
    </div>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="">
      <ul class="nav nav-pills nav-sidebar flex-column nav-compact nav-child-indent nav-compact text-sm"
        data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="user-panel nav-item mt-3 pb-2">
          <a routerLink="/home" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Home
            </p>
          </a>
        </li>
        <li class="nav-header"><b>Menu</b></li>
        <li class="nav-item">
          <a routerLink="/promotion" routerLinkActive="active" class="nav-link">
            <i class="fa fa-list"></i>
            <p> Promotion</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
